In [ ]:
# Python Operators

# Python has six types of operators that we can use to perform different operation and produce a result.
# 1.	Arithmetic operators
# 2.	Relational operators
# 3.	Assignment operators
# 4.	Logical operators
# 5.	Membership operators
# 6.	Identity operators

# Arithmatic Operater

In [10]:
a = 2
b = 3
print(a**b) # 2*2*2

8

In [5]:
a = 90.00
h = 98
print(a-h)

-8.0

In [46]:
a = 10
b = 45
print(a*b)

450

In [2]:
a =17
b = 4
print(a//b)

4

In [13]:
a = 27
b = 4
print(a / b)

6.75

In [12]:
# Exponent
# a = 2
# b = 3
print(8**2)
# 8*8*8

64

In [7]:
# floor division
a = 10
b = 4
print(a // b)

2

# Assignment Operator

In [14]:
x = 10
x += 25 # 10=10+25
print(x)

35

In [15]:
x = 10
# x = x - 5
x =x -  7
print(x)

3

In [8]:
x = 10
# x = 10 * 2
x *= 10
print(x)

100

In [19]:
x = 14
# x = x / 2
x //= 3
print(x)

4

In [13]:
x = 12
# x = x // 3
x //= 3
print(x)

4

# Relational (comparison) operators

In [ ]:
# Relational operators are also called comparison operators. 
# It performs a comparison between two values.
# It returns a boolean  True or False depending upon the result of the comparison.

In [23]:
# comparison operators

# a = (56<78)
# a = (56>78)
# a = (56>=56)
# a = (56>=78)
# a = (65==45)
a = (78!=78)
print(a)

False

# Logical operators

In [ ]:
# Logical operators are useful when checking a condition is true or not. Python has three logical operators. 
# All logical operator returns a boolean value True or False depending on the condition in which it is used.

In [ ]:
# there are 3 types of logical operators
# 1.AND
# 2.OR
# 3.NOT

In [25]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [26]:
x = 5

print(x >  3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [27]:
x = 5

print(not(x > 6 and x < 10))

# returns False because not is used to reverse the result

True

In [24]:
# Python program to demonstrate
# logical and operator
 
a = 10
b = 12
c = 0
 
if a < b and c < a:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

All the numbers have boolean value as True

# Identity Operators

is =  Returns True if both variables are the same object
is not = Returns True if both variables are not the same object

In [31]:
x = ["apple", "banana"]
y = ["apple", "bananadddd"]
# print(z)
print(x)

print(x is not y)
# print(x is y)
# print(x == y)

['apple', 'banana']
True

In [13]:
x = ["apple", "banana"]
y = ["apple", "pineapple"]
z = x

print(x is not z)
print(x is not y)
print(x != y)

False
True
True

# Membership Operators

in =  Returns True if a sequence with the specified value is present in the object
not in = Returns True if a sequence with the specified value is not present in the object

In [36]:
x = ["apple", "banana"]

print("banana" not in x)
# print("apple" in x)

False

In [45]:
x = ["apple", "banana"]

print("pineapple" not in x)
print("banana" not in x)
print("nilesh" not in x)

True
False
True

# string method

In [1]:
a = "path shala!"
print(len(a))
# print(a[0:4:2])
# print(a[1])
print(a[-1])
print(a[:])

# a="123"
# a1='nilesh'
# a2="""nilesh""" 
# print(type(a))

# name='myname is jadav nilesh'
# name1="myname is jadav nilesh"
name2="""myname 
    is 
    jadav 
    nilesh"""
# # print(len(name))
# print(name)
# print(name1)
print(name2)

myname
    is
    jadav
    nilesh

In [53]:
a = "Hello, Pathshala!"
# print(len(a))
print(len(a))

5

In [55]:
a = "how are you??"
print('arewww' in a)
print('?' in a)

False
True

In [22]:
a = "coding cloud!"

print(len(a))
# print(a[0:9:3])
# print(a[0::2])
# print(a[5:8])
# print(a[2:])
# print(a[0:])
# print(a[0:10:2])
# print(a[-5:])
# print(a[::-1])
# print(n[::-1])
# print(a[0::2])

13
loud!

In [56]:
a = "Hellow! world"
print(a.upper())

HELLOW! WORLD

In [57]:
a = "HELLOW! WORLD"
print(a.lower())

hellow! world

In [59]:
a = "CODING CLOUD!!"
print(a.isupper())

True

In [60]:
a = "COdiNG CLOUD!!"
print(a.isupper())

False

In [19]:
a = "Coding cloud!!"
print(a.islower())

False

In [62]:
a = "coding cloud!!"
print(a.islower())

True

In [63]:
a = "Hello, How Are you."
print(a.replace("Are","is"))

Hello, How is you.

In [20]:
a = "Hello How Are you! hey"
b = a.split(" ")
print(b)

['Hello', 'How', 'Are', 'you!', 'hey']

In [31]:
a = ("my","name","is", "helly")
b = ","
print(" ".join(a))
print(b.join(a))

myname is helly
myname,is,helly

In [65]:
a = "hello"
b = "are you"
print(a+" fff "+ " how " +b)

hello fff  how are you

In [36]:
name = "Dvs"
age = 23
# print("{},{}".format(arg1,arg2)
# print("my name is {}, my age is {}".format(name,age))
# print(f"my name is {name}, my age is {age}.")
print("my name is {} and my age is {}".format(name,age))
# print("my name",name)

my name is Dvs, my age is 23.

In [37]:
a = "Divyesh"
b = "my name is " + a
print(b)

my name is Divyesh

In [69]:
a = 'my name is \\ "helly" \,i am student.'
print(a)

my name is \ "helly",i am student.

In [39]:
a = "my name is \\ \"helly\" \\,i am student."
print(a)

my name is \ "helly" \,i am student.

In [73]:
a = "my name is  \"helly\" \n\ni am student."
print(a)

my name is  "helly"

i am student.

In [72]:
a = "my name is \t\ti am student."
#    i am student.
print(a)

my name is 		i am student.

In [38]:
print(10>5)

True

In [39]:
print(10<5)

False

In [1]:
print(100 == 10)
print(10==10)

False
True